@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #f5f7ff;
  transition: all 1s ease;
}

main {
  margin-top: 5rem;
}

section {
  transition: all 1s ease;
}

nav,
.searchBar {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

nav h1 {
  font-weight: 700;
}

nav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 10px;
}

.searchBar {
  margin: 2rem auto;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.searchBar button {
  background-color: #0177fb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
}

.searchBar input {
  border: none;
  font-size: 1.5rem;
  width: 75%;
  padding: 5px 5px 5px 25px; /* top right bottom left */
  border-radius: 10px;
  transition: all 1s ease;
}

.user {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  padding: 35px 35px 55px;
  /* //top right bottom left */
  border-radius: 10px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.user > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 2;
}

.user > img {
  height: 130px;
  border-radius: 50%;
  margin-right: 25px;
}

.user .name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.user .reposInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f5f7ff;
  margin: 1rem 0 2rem 0;
  padding: 25px 35px;
  border-radius: 10px;
  transition: all 1s ease;
}

.user .basicInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.user a {
  color: #0177fb;
  text-decoration: none;
}

.user a:hover {
  text-decoration: underline;
  color: #0177fb;
}

.user #date,
.user #bio,
.user .reposInfo h2 {
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 400;
}

.user #bio {
  margin: 0.5rem 0;
}

.user .basicInfo > div:last-child {
  margin: 0 4rem;
}

.user .basicInfo h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
  margin-bottom: 1rem;
}

.user .basicInfo h1 img {
  height: 20px;
  margin-right: 0.8rem;
}

#error {
  color: #ff0000;
  text-align: center;
}

#errorLoading {
  color: #ff0000;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #0177fb;
  animation: spinner 0.6s linear infinite;
}

.dark {
  background-color: #1e2b48;
}

.dark::placeholder {
  color: #fff;
}

.darkText {
  color: #fff;
}

.darkRepo {
  background-color: #141d2e !important;
}

@media screen and (max-width: 780px) {
  nav,
  .searchBar {
    max-width: 600px;
  }

  .user {
    max-width: 650px;
  }

  .user > img {
    height: 100px;
    margin: 0 25px;
  }

  .user #date {
    padding: 0 1rem;
  }

  .user #bio {
    max-width: 300px;
  }

  .user .reposInfo {
    width: 95%;
  }
}

@media screen and (max-width: 670px) {
  nav,
  .searchBar {
    max-width: 500px;
  }

  .searchBar input {
    font-size: 1.2rem;
    width: 67%;
    padding: 5px 5px 5px 10px; /* top right bottom left */
  }

  .user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    padding: 35px;
  }

  .user > img {
    height: 130px;
    margin-bottom: 25px;
  }

  .user .reposInfo {
    width: 100%;
  }
}

@media screen and (max-width: 555px) {
  nav,
  .searchBar {
    max-width: 300px;
  }

  .searchBar {
    padding: 10px 5px;
  }

  .searchBar img {
    display: none;
  }

  .searchBar input {
    font-size: 1rem;
    padding: 5px; /* top right bottom left */
  }

  .searchBar input::placeholder {
    font-size: 0.8rem;
  }

  .searchBar button {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .user {
    max-width: 300px;
  }

  .user > img {
    height: 100px;
  }

  .user .name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user .name a {
    display: block;
  }

  .user .name h1,
  .user .name a {
    text-align: center;
  }

  .user #bio {
    margin: 1rem 0;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
