@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #f5f7ff;
}

main {
  margin-top: 7rem;
}

nav,
.searchBar {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  opacity: 0.8;
  font-weight: 700;
}

nav button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  opacity: 0.6;
  cursor: pointer;
}

nav button:hover {
  opacity: 1;
}

nav button span {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 10px;
}

.searchBar {
  margin: 2rem auto;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.searchBar button {
  background-color: #0177fb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
}

.searchBar input {
  border: none;
  font-size: 1.5rem;
  width: 75%;
  padding: 5px 5px 5px 25px; /* top right bottom left */
  border-radius: 10px;
}

.user {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  padding: 35px 35px 55px;
  /* //top right bottom left */
  border-radius: 10px;
  box-shadow: 0px 16px 30px -10px #4660bb33;
}

.user > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 2;
}

.user img {
  height: 130px;
  border-radius: 50%;
  margin-right: 25px;
}

.user .name {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.user .reposInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f5f7ff;
  margin: 1rem 0;
  padding: 25px 35px;
  border-radius: 10px;
}

.user .basicInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user a {
  color: #0177fb;
  text-decoration: none;
}

.user #date,
.user #bio,
.user .reposInfo h2 {
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 400;
}

.user #bio {
  margin: 0.5rem 0;
}

.user .reposInfo h1 {
}
